
body {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    
}


h1 {
    margin-top: 120px;
}


/* -----------------------------
----------HEADER------------- */


header {
    background-color: #7c7c7c;
    height: 40px;
    
    margin: auto;
}

h5 {
    color: #FFFFFF;
    padding: 10px 0px 0px 20px;
    font-size: 12px;
    margin-top: 0px;

}



/* -----------------------------
----------HERO--------------- */



#hero {
    background-image: url("images/snow-wood.jpg");
    height: 50px;
    width: 950px;
    background-position: center;
    padding: 1px 0 460px 0;
    text-shadow: 0px 0px 2px black;
    margin: auto;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    
    
}

@keyframes animation {
    0% {
      opacity: 0;
      bottom: -240px;
    }

    100% {
      opacity: 1;
      bottom: 0;
    }
  }

  .animation {
    position: relative;
    animation: animation 3s ease-out;
  }

/* -----------------------------
----------NAVBAR------------- */

nav {
    background: rgba(2, 62, 138, 0.80);
    width: 910px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
    border-bottom: 1px solid white;
    
}

/* -----------------------------
----------BUTTONS------------ */

button {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
button:active {
	position:relative;
	top:1px;
}


/* -----------------------------
----------PART1-------------- */



section {
    background: linear-gradient(107deg, #426E95 0%, rgba(73, 145, 209, 0.89) 100%);
    width: 950px;
    height: 507px;
    margin: auto;

}

span {

    border-top: 1px solid white;
    padding: 2px;
    
}

.snow1-img {
    width: 240px;
    height: 160px;
    border-radius: 15px;
    border-right: 5px solid rgba(255, 255, 255, 0.70);
    border-left: 5px solid rgba(255, 255, 255, 0.70);
    float: left;
    margin: 45px 30px 20px 50px;
}


.h2-head1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 15px;
    

}


.p-text1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #FFFFFF;
    padding: 2px;
    width: 860px;
    margin: 10px 30px 20px 20px;
    
}


#line {
    background-color: #FFFFFF;
    width: 855px;
    height: 10px;
    opacity: 40%;
    border-radius: 50px;
    transform: translate(40px, 30px);
}   


.snow2-img {
    width: 240px;
    height: 160px;
    border-radius: 15px;
    border-right: 5px solid rgba(255, 255, 255, 0.70);
    border-left: 5px solid rgba(255, 255, 255, 0.70);
    float: right;
    margin: 80px 60px 0px 20px;
    
}


.p-text2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #FFFFFF;
    border-bottom: 1px solid white;
    padding: 2px;
    width: 510px;
    float: left;
    margin: 80px 30px 20px 50px;
}




/* -----------------------------
----------------------------- */

.line-space {
    margin: auto;
    width: 950px;
    height: 30px;
    background: #F2F2F2;
    filter: blur(20px);
}



/* -----------------------------
--------IMAGE SECTION-------- */


picture {
    display: flex;
    justify-content: center;
    
}


#img-merge1 {
    
    width: 600px;
    height: 360px;
    clip-path: polygon(0 0, 100% 0, 61% 100%, 0% 100%); 
    transform: translate(125px);
    

}



#img-merge2 {
    
    width: 600px;
    height: 360px;
    clip-path: polygon(41% 0, 100% 0, 100% 100%, 0% 100%);
    transform: translate(-125px);
   
}


/* -----------------------------
----------ENDPAGE------------ */


.end {
    margin: auto;
    width: 950px;
    height: 300px;
    background: linear-gradient(360deg, 
    rgba(2, 123, 201, 0.89) 0%,
    rgba(73, 145, 209, 0.22) 70%);

}


#boxes {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.box1 {

    width: 240px;
    height: 202px;
    padding: 12.214px 17.851px 11.274px 15.972px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translate(0px, 40px);
    color: #426E95;
    font-size: 16px;
}

.box2 {

    width: 270px;
    height: 225px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: url("images/snowboard5.jpg");
    mix-blend-mode: hard-light;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translate(0px, 40px);
    background-size: cover;

}



.box3 {

    width: 240px;
    height: 202px;
    padding: 12.214px 17.851px 11.274px 15.972px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translate(0px, 40px);
    color: #426E95;
    font-size: 16px;
}





/* ----------------------------------
---------------FOTTER------------- */


#fotter {
    background-color: #7c7c7c;
    height: 60px;
    margin: auto;
   
      
}

.footer-text {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-top: 20px;
}
